*{ margin: 0; padding: 0;border: 0;}
body{font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;font-size: 0.2rem; }
h1,h2,h3,h4,h5{font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;font-weight: bold; }
h1 { font-size: 0.7rem;}h2 { font-size: 0.6rem;}h3 { font-size: 0.35rem;}h4 { font-size: 0.25rem;}h5 { font-size: 0.2rem;}
a{text-decoration: none;}
/*-------------------------------------------------------header------------------------------------------------------*/
header{width: 12rem;margin: 0 auto;height: 2.42rem;}
header #header_title{height: 1.52rem;background-color:#55833A;color: #ffffff; padding: 0.3rem 0.2rem 0.1rem }
header #header_title a{ margin:  0.08rem auto auto 0.14rem;display: block;font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: bolder;color: #ffffff;font-size: 0.4rem;text-decoration:none;}
header #header_title a:hover{text-shadow: 0.05rem 0.05rem 0.05rem #FFFFB0;}

header nav#header_nav{ height: 0.6rem; background-color:#65934A;}
header nav#header_nav ul#navigation li{width: 2rem;height: 100%;float: left;list-style: none;text-align: center;overflow: hidden;}
header nav#header_nav ul#navigation li:hover{border-bottom: solid 0.05rem #FFFFB0;}
header nav#header_nav ul#navigation li a{font-size: 0.25rem; font-weight: bold;color: floralwhite;line-height: 0.5rem; }
/*------------------------------------------------------- article ------------------------------------------------------*/
article.main_body{width:12rem;margin: 0 auto;height: 18rem;background-color: #EEEEEE;}
article.main_body div#work_exper{width: 8.36rem; height:100%;margin:0 0.8rem}
dl{display:block;}
dt{padding: 0.05rem 0 0.03rem;float:left; font-weight:bold; color: #505a60;font-size:0.2rem; }
dd{padding: 0.05rem 0 0.05rem;  border-bottom: 0.01rem solid #e0e3e5;}
article.main_body div#work_exper ul li dt{width:2rem;}
article.main_body div#work_exper ul li dd{ margin-left:2rem;}
article.main_body div#work_exper ul li dd ul li{ padding: 0.05rem 0 0.05rem;list-style:disc;}
article.main_body div#work_exper li{list-style: none;margin-left:0.05rem;padding: 0.05rem 0 0.05rem;  }
article.main_body div#work_exper ul#publication li.link{padding: 0 0 0.05rem;border-bottom: 0.05rem solid #e0e3e5;text-align-last: end;}
li.link a{background-image: url(icon-pdf.gif);height: 0.16rem;width: 0.16rem;display: block;}
/*-------------------------------------------------------footer------------------------------------------------------*/
footer.body_foot{width: 12rem;margin: 0 auto;height: 0.5rem;line-height: 0.25rem;background-color: rgb(179,214,110);
    text-align: center; font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif ;;font-size: 0.12rem;}